html, body {
	margin: 0 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

body, div {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: 15px;
}

#app-frame {
	position: relative;width:100%;height:100%;overflow: hidden;
	background: #f7f7f7;
	-webkit-user-select: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#back-page-fill, #back-page-border{
	stroke: none;
}

#more-icon circle, #back-icon {
	fill: #999;
}

.tab-icon path {
	fill: none;
	stroke: red;
}
